.DS_Store
*~
node_modules/
reports/
.npmrc
/src/config.js
/src/translations.json
/locale/*/*.mo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
version
.gitlab-ci-local/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.nyc_output/
.tmp/
