VUE_APP_BASE_PATH=###BASE_PATH###
VUE_APP_MAPBOX_PUBLIC_KEY=###MAPBOX_PUBLIC_KEY###

VUE_APP_COGNITO_REDIRECT_URI=###COGNITO_REDIRECT_URI###
VUE_APP_COGNITO_REDIRECT_URI_SIGNOUT=###COGNITO_REDIRECT_URI_SIGNOUT###
VUE_APP_APP_URL=###APP_URL###

VUE_APP_COGNITO_USERPOOL_ID=###COGNITO_USERPOOL_ID###
VUE_APP_COGNITO_APP_DOMAIN=###COGNITO_APP_DOMAIN###
VUE_APP_COGNITO_CLIENT_ID=###COGNITO_CLIENT_ID###

VUE_APP_COGNITO_IDENTITY_POOL_ID=###COGNITO_IDENTITY_POOL_ID###
VUE_APP_COGNITO_REGION=###COGNITO_REGION###
