VITE_APP_VERSION=$npm_package_version
VITE_BASE_PATH=###BASE_PATH###
VITE_MAPBOX_PUBLIC_KEY=###MAPBOX_PUBLIC_KEY###
VITE_BACK_URL=###BACK_URL###


VITE_COGNITO_REDIRECT_URI=###COGNITO_REDIRECT_URI###
VITE_COGNITO_REDIRECT_URI_SIGNOUT=###COGNITO_REDIRECT_URI_SIGNOUT###
VITE_APP_URL=###APP_URL###

VITE_COGNITO_USERPOOL_ID=###COGNITO_USERPOOL_ID###
VITE_COGNITO_APP_DOMAIN=###COGNITO_APP_DOMAIN###
VITE_COGNITO_CLIENT_ID=###COGNITO_CLIENT_ID###

VITE_COGNITO_IDENTITY_POOL_ID=###COGNITO_IDENTITY_POOL_ID###
VITE_COGNITO_REGION=###COGNITO_REGION###
