.mapboxgl-ctrl-bottom-right {
  right: 10px;
  bottom: 10px;
}
.mapboxgl-popup-content {
  padding: 10px;
  color: white;
  display:flex;
  width:fit-content;
  background-color: $secondary;
}
.mapboxgl-popup-tip {
  border-bottom-color: $secondary !important;
  border-top-color: $secondary 
}
.mapboxgl-popup-close-button {
  right: 20px;
  top: 20px;
  font-size: 1.5em;
}
.mapboxgl-ctrl-attrib-inner > a {
  color: $secondary !important;
}
