$primary          : #B5E0D6;
$primary-dark     : #7EBAAC;
$secondary        : #2C3E4E;
$secondary-dark   : #0F1C27;

$grey-ultralight  : #F5F5F5;
$grey-light       : #E3E3E3;
$grey-medium      : #9E9E9E;
$grey-dark        : #5B5B5B;

$negative         : #E42626;
$warning          : #FF7B30;
$positive         : #4CAF50;

$chart-lightgreen : #CDDC39;
$chart-darkgreen  : #4CAF50;
$chart-lightblue  : #00BCD4;
$chart-darkblue   : #2196F3;
$chart-purple     : #673AB7;
$chart-pink       : #E91E63;
$chart-orange     : #FF7B30;
$chart-yellow     : #FFC107;