.v-application--wrap {
  flex-direction: row;
}
.theme--light.v-application {
  color: $secondary;
}
.v-theme--light.v-icon {
  opacity:80%
}

.theme--dark.v-label {
  color: white;
}
.v-toolbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100% !important;
  width: 100%;
}
.v-input__icon > i {
  font-size: 14px !important;
  margin-right: 10px;
}
.v-navigation-drawer--fixed {
  z-index: 200;
}
.v-btn.primary > span {
  color: $secondary !important;
}
.v-snack__wrapper {
  margin: 20px;
}
.v-snack__content {
  color: $secondary !important;
}
.snackbar-error > .v-snackbar__wrapper {
  border-bottom: 5px solid $error-red !important;
}
.snackbar-warning > .v-snackbar__wrapper {
  border-bottom: 5px solid $warning-orange !important;
}
.snackbar-positive > .v-snackbar__wrapper {
  border-bottom: 5px solid $success-green !important;
}
.v-card__subtitle, .v-card__text, .v-card__title {
  padding: 0;
}
.v-card__title {
  line-height: normal;
}
.v-card__title + .v-card__subtitle {
  margin-top: 0px;
}
.v-alert {
  padding: 24px;
}

.v-overlay__scrim{
  background:black;
}